.wrapper {
  width: 50%;
  min-width: 720px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .pageTitle {
    text-align: center;
    font-size: 30px;
    margin: 20px;
  }

  .message {
    font-size: 18px;
    margin-top: 50px;
    width: 100%;
    text-align: center;
  }

  .errorPopup{
    position: fixed;
    bottom: 0;
    right: 50px;
  }
}
