.wrapper {
  width: 50%;
  min-width: 720px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pageTitle {
    text-align: center;
    font-size: 30px;
    margin: 20px;
}