.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  border: 1px solid #111;
  background-color: rgb(246, 189, 189);
  height: 30px;
  padding: 0 5px;

  &:hover {
    background-color: rgb(245, 168, 168);
  }

  .searchInput {
    background: none;
    border: none;
    font-size: 18px;
    width: 170px;

    &:focus-visible {
      outline: 0;
    }
  }
}
